@model FoodItem

<h1>Edit Food Item</h1>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <br />
            <input asp-for="Name" class="form-control bg-warning bg-gradient" type="text" value=@Model.Name/>
            <span asp-validation-for="Name" class="text-danger"></span> 
        </div>
        <div class="mb-3">
            <label class="form-label">Calories</label>
            <br />
            <input asp-for="Calories" class="form-control bg-warning bg-gradient" type="text" value=@Model.Calories />
            <span asp-validation-for="Calories" class="text-danger"></span> 
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-danger">Commit</button>
    <a asp-controller="FoodItem" asp-action="Index" class="btn btn-primary">Return to list</a>
</form>