@model List<Food>

<div class="border border-5 border-secondary rounded-3">
    <a class="btn btn-secondary" asp-controller="NutrientCalculator" asp-action="FindItem">Find food item</a>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @for(int i=0;i<Model.Count;i++)
            {
                <tr>
                     <td>@Model[i].Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*@await Html.PartialAsync("_NutrientList", new NutrientListData()
{
    Name="Vitamines",
    Nutrients=Model[0].Nutrients,
    NutrientIdsToInclude = new List<int>() { 1104, 1162, 1114, 1175, 1242, 1185, 1175, 1166, 1177, 1167, 1180 }    
});*@


<div class="row">
    <div class="col">
        @await Html.PartialAsync("_NutrientList", new NutrientListData()
{
        Name="Vitamines",
        Foods=Model,
        Items = new List<NutrientListItem>()
        {
            new NutrientListItem() { Name="Vitamin A", NutrientId = 1106 },
            new NutrientListItem() { Name="Vitamin C", NutrientId = 1162 },
            new NutrientListItem() { Name="Vitamin D", NutrientId = 1114 },
            new NutrientListItem() { Name="Vitamin B-6", NutrientId = 1175 },
            new NutrientListItem() { Name="Vitamin E", NutrientId = 1242 },
            new NutrientListItem() { Name="Vitamin K", NutrientId = 1185 },
            new NutrientListItem() { Name="Vitamin B-12", NutrientId = 1246 },
            new NutrientListItem() { Name="Riboflavin", NutrientId = 1166 },
            new NutrientListItem() { Name="Folate", NutrientId = 1177 },
            new NutrientListItem() { Name="Niacin", NutrientId = 1167 },
            new NutrientListItem() { Name="Choline", NutrientId = 1180 }
        }
})
    </div>
    <div class="col">
        @await Html.PartialAsync("_NutrientList", new NutrientListData()
        {
            Name="Macro-nutrients",
            Foods=Model,
            Items = new List<NutrientListItem>()
            {
                new NutrientListItem() { Name="Carbohydrates", NutrientId = 1005 },
                new NutrientListItem() { Name="Total Fiber", NutrientId = 1079 },
                new NutrientListItem() { Name="Protein", NutrientId = 1003 },
                new NutrientListItem() { Name="Total fat", NutrientId = 1004 },
                new NutrientListItem() { Name="Saturated fatty acids", NutrientId = 1258 },
                new NutrientListItem() { Name="Trans fatty acids", NutrientId = 1257 },
                new NutrientListItem() { Name="Cholesterol", NutrientId = 1253 },
            }
        })
    </div>
</div>

<ul class="list-group m-3">
    <li class="list-group-item list-group-item-success">Vitamines</li>
    <li class="list-group-item">
        Vitamin A
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 5%"></div>
        </div>
        </li>
    <li class="list-group-item">Vitamin C</li>
    <li class="list-group-item">Vitamin D</li>
    <li class="list-group-item">Vitamin E</li>
    <li class="list-group-item">Vitamin K</li>
</ul>